<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title>Order Form</title>
</head>
<body>
  <form method="post">
  <label>
    <img src="/img/egypt.jpg" alt="egypt">
    <input type="radio" name="termek" value="egypt">Egyiptom
  </label>
  <label>
    <img src="/img/iceland.jpg" alt="iceland">
    <input type="radio" name="termek" value="iceland">Izland
  </label>
  <label>
    <img src="/img/la.jpg" alt="la">
    <input type="radio" name="termek" value="la">Los Angeles
  </label>
    Név: <input type="text" name="nev"><br>
    Kuponkód: <input type="text" name="kupon"><br>
    <h2>Számlázás</h2>
    Ország: <input type="text" name="szaml_orszag"><br>
    Irányítószám: <input type="text" name="szaml_iranyito"><br>
    Város: <input type="text" name="szaml_varos"><br>
    Utca, házszám: <input type="text" name="szaml_cim"><br>

    <h2>Szállítás</h2>
    Ország: <input type="text" name="szall_orszag"><br>
    Irányítószám: <input type="text" name="szall_iranyito"><br>
    Város: <input type="text" name="szall_varos"><br>
    Utca, házszám: <input type="text" name="szall_cim"><br>

    <h2>Fizetés</h2>
    Bankkártya: <input type="text" name="bankkartya"><br>
    Lejárat: <input type="text" name="lejarat"><br>
    Biztonsági kód: <input type="text" name="biztonsag">

    <% for ( let e of errors){ %>
      <div class="alert alert-danger"></div>
    }

    <input type="submit" value="Vásárol">
  </form>
</body>
</html>
